<footer>
  <div class="footer-wrapper">
    <div class="footer-container">
      <div class="column">
        <h1>Elérhetőségek</h1>
        <a href="mailto:drdobreann@gmail.com">
          <mat-icon svgIcon="email"></mat-icon>
          <span>drdobreann@gmail.com</span>
        </a>
        <hr>
        <a href="tel:555-555-5555">
          <mat-icon svgIcon="phone"></mat-icon>
          <span>+36 30 616 1830</span>
        </a>
        <hr>
        <a>
          <mat-icon svgIcon="location"></mat-icon>
          <span>6724 Szeged, Párizsi körút 1-3. 1. emelet 1.</span>
        </a>
      </div>
      <div class="column">
        <h1>Nyitvatartás</h1>
        <span>Hétfő: zárva</span>
        <span>Kedd: zárva</span>
        <span>Szerda: zárva</span>
        <span>Csütörtök: 9:00 - 17:00</span>
        <span>Péntek: zárva</span>
        <span>Szombat: zárva</span>
        <span>Vasárnap: zárva</span>
      </div>
    </div>
  </div>
  <div class="copyright">
    <span>© 2021 DermIron Bőrgyógyászati és Orvos-esztétikai Központ</span>
    <hr>
    <span>6724 Szeged, Párizsi körút 1-3. 1. emelet 1.</span>
  </div>
</footer>
