<header>
  <div class="contact-wrapper">
    <div class="contact-container">
      <a href="mailto:drdobreann@gmail.com">
        <mat-icon svgIcon="email"></mat-icon>
        <span>drdobreann@gmail.com</span>
      </a>
      <hr>
      <a href="tel:555-555-5555">
        <mat-icon svgIcon="phone"></mat-icon>
        <span>+36 30 616 1830</span>
      </a>
      <hr>
      <a>
        <mat-icon svgIcon="location"></mat-icon>
        <span>6724 Szeged, Párizsi körút 1-3. 1. emelet 1.</span>
      </a>
    </div>
  </div>
  <div class="toolbar">
    <div class="toolbar-wrapper">
      <a class="link" href="/">
        <span class="name">Dr. Dobrean Noémi</span>
        <span class="spec">Bőrgyógyász</span>
      </a>
      <nav>
        <a href="/">Kezdőlap</a>
        <a href="/services">Szolgáltatások</a>
        <a href="/contact">Kapcsolat</a>
      </nav>
    </div>
  </div>
</header>
